* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 44px 0px 144px 76px;
}

.menu-principal {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #989D9C;
  margin-left: 23px;


}

.botao-header {
  width: 130px;
  height: 41px;
  border-radius: 50px;
  background: #665AE1;
  border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
  margin-left: 23px;



}

.logo-care {
  display: inline-block;

  margin-left: 125px;
  margin-bottom: 183px;
}

section {
  position: absolute;
  display: inline-block;
  margin-left: 86px;
  margin-top: 115px;
  margin-bottom: 250px;
}

h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  color: #515151;
}

h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #515151;
  
}

p {

  width: 515px;
  height: 87px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #848484;
  margin-top: 28px;
  margin-bottom: 65px;


}
.botao-main{

position: relative;
width: 239px;
height: 64px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 50px;
border: none;
background:#ADFF00;

font-weight: 700;
font-size: 28px;
line-height: 34px;

color: #000000;




}